
<style>
  #currencies{
    width: 200px;
  }
  div{
    padding: 5%;
    max-width: 30%;
  }
  main{
    background-color: bisque;
  }
</style>



<main class="main">
  <div class="content">
    <h1>RX-Rate App</h1>
    <div>
      <div><label for="datetime">Date: <input id="datetime" type="date" [(ngModel)]="date"></label></div>
      <div><label>Amount: <input id="amount" type="number" [(ngModel)]="amount"></label></div>
      <div>
        <label for="from-currencies">From:
          <select name="from-currencies" id="from-currencies" [(ngModel)]="fromCurrency">
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
          </select>
        </label>
      </div>
      <div>
        <label for="to-currencies">To:
          <select name="to-currencies" id="to-currencies" [(ngModel)]="toCurrency">
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
          </select>
        </label>
      </div>
      <div><button (click)="convert()">Convert</button></div>
      <div *ngIf="convertedAmount">Converted Amount: {{ convertedAmount }}</div>
    </div>
  </div>
</main>


